<div class="patients_form col-md-6 col-sm-12">
	<%= render "patients/new" %>
</div>

<div class="doctors_form col-md-6 col-sm-12">
	<%= render "doctors/new" %>
</div>

<div class="appointment_form col-md-6 col-sm-12">
	<%= render "appointments/new" %>
</div>

<div class="appointment_show col-md-6 col-sm-12">
	<%= render "appointments/show" %>
</div>
